


/* ====== start components ====== */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  font-weight: var(--secondary-font-weight);
  font-size: 36px;
  line-height: var(--secondary-line-height);
}



/* ====== end components ====== */
/* ====== start header ======= */
.header {
  border-bottom: 1px solid #eeeeee;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo-header {
  margin-right: 93px;
}
.logo-secondary-half-header {
  color: var(--primary-text-color-theme-light);
}
.menu-nav-list {
  display: flex;
  align-items: center;
}

.menu-nav-item:not(:last-child) {
  margin-right: 50px;
}
.menu-nav-link {
  position: relative;
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -34px;
  margin-left: auto;
  margin-right: auto;

  height: 4px;
  border-radius: 2px;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--accent-color);
}
.current,
.menu-nav-link:hover,
.menu-nav-link:focus {
  color: var(--accent-color);
}
.current::after,
.menu-nav-link:hover::after,
.menu-nav-link:focus::after {
  opacity: 1;
}
.contacts-list {
  display: flex;
  align-items: center;
}
.contacts-list {
  margin-left: auto;
}
.mail-header {
  margin-right: 30px;
}
.mail-header,
.phone-namber-header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope {
  margin-right: 10px;
  min-width: 16px;
  fill: var(--secondary-text-color-theme-light);
}
.mail-header:hover,
.mail-header:focus,
.phone-namber-header:hover,
.phone-namber-header:focus {
  color: var(--accent-color);
}
.mail-header:hover .envelope,
.mail-header:focus .envelope,
.phone-namber-header:hover .smartphone,
.phone-namber-header:focus .smartphone {
  fill: var(--accent-color);
}

.smartphone {
  margin-right: 10px;
  min-width: 10px;
  fill: var(--secondary-text-color-theme-light);
}
/* ====== end header ====== */
/* ====== start page Студія ====== */
/* ====== start hero ====== */
.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0px;
  margin: 0px auto;
  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/bg.jpg);
  background-size: cover;

  background-color: #c4c4c4;
}

.modal-btn-hero {
  display: inline-block;
  text-align: center;
  min-width: 216px;
  padding: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ====== end hero ====== */
/* ====== start features ====== */

.features {
  padding-top: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-item {
  width: 270px;
}
.features-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.features-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}
.features-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--tertiary-background-color);
  border-radius: 4px;
}

.features-title {
  margin-bottom: 10px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  text-transform: uppercase;

  color: var(--primary-text-color-theme-light);
}

.descr-features {
  line-height: var(--secondary-line-height);

  color: var(--secondary-text-color-theme-light);
}

/* ====== end features ====== */
/* ======start work ====== */
.work-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.work-item {
  flex-basis: calc((100% - 90px) / 3);
}
.work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.work-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.label-title {
  font-weight: var(--secondary-font-weight);

  text-transform: uppercase;

  color: var(--primary-text-color-theme-dark);
}
/* ====== end work ====== */

/* ====== start team ====== */
.team {
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  background-color: var(--tertiary-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-item {
  min-width: 270px;
  text-align: center;
  flex-basis: calc((100% - (4 * 30px)) / 4);

  background-color: var(--primary-text-color-theme-dark);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.team-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.name {
  margin-bottom: 10px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.19;
  letter-spacing: var(--primary-letter-spacing);

  color: var(--primary-text-color-theme-light);
}

.position {
  margin-bottom: 16px;

  font-weight: normal;

  color: var(--secondary-text-color-theme-light);
}
.team-content-wrapper {
  padding: 30px 0;
}
.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====== end team ====== */
/* ====== start clients ====== */
.clients-list {
  display: flex;
  flex-wrap: wrap;
}
.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
}

.clients-list-item {
  box-sizing: border-box;
  text-align: center;
  flex-basis: calc((100% - (6 * 30px)) / 6);
  min-width: 170px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-item:not(:nth-child(6n)) {
  margin-right: 30px;
}
.clients-list-item:not(:nth-last-child(-n + 6)) {
  margin-bottom: 30px;
}
.clients-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}
.clients-list-item:hover,
.clients-list-item:focus {
  border-color: var(--accent-color);
}
/* ====== start footer ====== */
.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-footer-link {
  margin-bottom: 20px;
}
.logo-secondary-half-footer {
  color: var(--primary-text-color-theme-dark);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;

  color: var(--primary-text-color-theme-dark);
}

.mail-footer,
.phone-namber-footer {
  font-size: var(--primary-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: var(--primary-letter-spacing);

  color: var(--secondary-text-color-theme-dark);
}
.content-wrapper-footer-address {
  display: block;
  margin-right: auto;
}
.content-wrapper-footer-associate {
  display: block;
  margin-right: auto;
}
.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.associate {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: var(--secondary-font-weight);

  text-transform: uppercase;

  color: var(--primary-text-color-theme-dark);
}
.social-list-item-footer {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.social-list-icon-footer {
  fill: var(--primary-text-color-theme-dark);
}
 .content-wrapper-footer-subscription {
  display: block;
  align-items: center;
  min-width: 570px;
  min-height: 86px;
}
.subscription {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: var(--secondary-font-weight);
  text-transform: uppercase;

  color: var(--primary-text-color-theme-dark);
}

.contact-form-field-footer {
  display: block;

  font-weight: var(--secondary-font-weight);
    
  text-transform: uppercase;

  color:var(--primary-text-color-theme-dark);
}
.input-wrapper-footer {
  display: flex;
  align-items: center;
}
.contact-form-input-footer {
  display: block;
  
  padding-left: 16px;
  width: 358px;
  height: 50px;
  
  font-weight: 400;
  font-size: var(--secondary-font-size);
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.contact-form-input-footer::placeholder {
  width: 47px;
  height: 20px;

  align-items: center;

  color: rgba(255, 255, 255, 0.6);
}

.submit-btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  
  padding: 10px 28px;

  margin-left: 12px;

  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.icon-sent {
  padding: 0;
  margin-left: 10px;
}
/* ====== end footer ====== */
/* ====== start modal window ====== */
.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  transform: scale(0.5);
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;

  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;

  background-color: var(--primary-text-color-theme-dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-close-btn:hover .icon-close, .modal-close-btn:focus .icon-close {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call {
  display: inline-block;
  text-align: center;
  margin: 0 auto 12px;
 
  width: 448px;
  height: 23px;

  font-weight: var(--secondary-font-weight);
  font-size: 20px;
  line-height: 1.15;
}
.contact-form-field {
  display: block;
}
.contact-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  cursor: pointer;
}
.contact-form-input:focus, .contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content {
  width: 22px;
  height: 14px;
 
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color-theme-light);
}
.contact-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}
.contact-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.contact-form-input:focus + .contact-form-input-icon {
  outline: none;
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;

  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.contact-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.contact-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color-theme-light);
}
.contact-form-checkbox-label::before {
  content: "";
  display: inline-block;
  
  margin-right: 7px;
  width: 16px;
  height: 15px;

  border: 1px solid rgba(33, 33, 33, 0.2);;

  cursor: pointer;
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url("../img/icon\ check.svg");
  background-size: cover;
  background-color: var(--accent-color);
}
.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.terms {
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}
.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
        
  background: #188CE8;
  border-width: 0;
}

/*====== end modal window ====== */
/* ====== end page Студія ====== */
/* ====== start page Портфоліо ====== */

.filters-portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.filters-btn {
  display: inline-block;
  min-height: 38px;
  text-align: center;

  margin: 0;
  
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.63;
  letter-spacing: var(--primary-letter-spacing);
  cursor: pointer;

  border: 1px solid #eeeeee;
  border-radius: 4px;
  color: var(--primary-text-color-theme-light);
  background: var(--tertiary-background-color);
}
.filters-btn:hover,
.filters-btn:focus {
  color: var(--primary-text-color-theme-dark);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-btn-all {
  min-width: 73px;
}
.filters-btn-web {
  min-width: 125px;
}
.filters-btn-add {
  min-width: 112px;
}
.filters-btn-diz {
  min-width: 103px;
}
.filters-btn-mrcet {
  min-width: 130px;
}
.projects-portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  flex-basis: calc((100% - (3 * 30px)) / 3);
  background: var(--primary-text-color-theme-dark);
}
.projects-item-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.projects-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.projects-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.projects-item-link {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.projects-item-link:hover,
.projects-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-item-link:hover .projects-thumb::after,
.projects-item-link:focus .projects-thumb::after {
  transform: translateY(0);
}
.projects-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
.projects-item-link:hover .overlay,
.projects-item-link:focus .overlay {
  transform: translateY(0);
}
.description {
  width: 322px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: rgba(255, 255, 255, 1);
}
.projects-item-titel {
  margin-bottom: 4px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: var(--secondary-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--secondary-letter-spacing);

  color: var(--primary-text-color-theme-light);
}
.projects-direction {
  font-size: var(--secondary-font-size);
  line-height: 1.88;

  color: var(--secondary-text-color-theme-light);
}
